@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  background-color: #333337;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.container {
  height: fit-content;
}

.radioDiv {
  color: #e5e5e5;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: flex-end;
  right: 0;
  top: 24px;
  padding-right: 50px;
}

.autocompleteActive {
  background-color: #626269;
  color: #e5e5e5;
}

.autocompleteItems {
  text-align: left;
  overflow: auto;
  font-size: 1.5rem;
  margin: 30px auto 0;
  max-height: 300px;
  color: #434348;
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #333337;
    border-radius: 9em;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #626269;
    border-radius: 9em;
  }
}

.autocompletePosters {
  text-align: center;
  max-height: fit-content;
  max-width: fit-content;
  display: flex;
  justify-content: center;
}

.autocompleteItems div {
  padding: 15px;
  margin: 0 20px;
}

.autocompletePosters div {
  margin: 0;
  padding: 0 15px;
  max-width: fit-content;
}

.autocompletePosters h4 {
  margin: 15px auto 10px;
  font-size: 1.5rem;
}

.autocompletePosters p {
  margin: 0;
  font-size: 1rem;
  font-weight: 200;
}

.container__input {
  position: relative;
  margin: 5% auto 0;
  text-align: center;
  width: fit-content;
}

.filmsAutocompleteListStyling {
  display: none;
  margin: -20px auto 0;
  padding: 30px;
  border-radius: 0 0 20px 20px;
  background-color: #e5e5e5;
  color: #434348;
}

.queryInput {
  width: 650px;
  padding: 30px 180px 30px 125px;
  padding-left: 125px;
  background-color: #626269;
  color: #e5e5e5;
  border-radius: 20px;
  border: none;
  font-size: 1.5rem;
  outline: none;
  box-shadow: 0px 5px 25px rgba(67, 67, 72, 0.25);
  &:focus,
  :focus + .radioDiv {
    background-color: #e5e5e5;
    color: #434348;
  }
  &::placeholder {
    color: #e5e5e5;
  }
}

.iconify {
  position: absolute;
  padding: 30px 0 0 50px;
  width: 30px;
  height: 30px;
  color: #333337;
}

.imageContainer {
  text-align: center;
  width: 100%;
  margin-top: 100px;
}

.posterStyle {
  width: 220px;
  margin: 0 10px;
}
