@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  background-color: #333337;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.container {
  height: fit-content;
}

.radio_div {
  color: #e5e5e5;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: flex-end;
  right: 0;
  top: 24px;
}

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
  padding: 15px;
}

.autocomplete-items {
  text-align: left;
  overflow: auto;
  font-size: 1.5rem;
  margin: 30px auto 0;
  max-height: 300px;
  color: #434348;
}

.autocomplete-posters {
  text-align: center;
  max-height: fit-content;
  max-width: fit-content;
  display: flex;
  justify-content: center;
}

.autocomplete-items div {
  padding: 15px;
}

.autocomplete-posters div {
  padding: 0 15px;
  max-width: fit-content;
}

.autocomplete-posters h4 {
  margin: 15px auto 10px;
  font-size: 1.5rem;
}

.autocomplete-posters p {
  margin: 0;
  font-size: 1rem;
  font-weight: 200;
}

.container_input {
  position: relative;
  margin: 5% auto 0;
  text-align: center;
  width: fit-content;
}

#parentDiv {
  display: none;
  margin: -20px auto 0;
  padding: 30px;
  border-radius: 0 0 20px 20px;
}

.queryInput {
  width: 750px;
  padding: 30px 100px 30px 125px;
  padding-left: 125px;
  background-color: #626269;
  color: #e5e5e5;
  border-radius: 20px;
  border: none;
  font-size: 1.5rem;
  outline: none;
  box-shadow: 0px 5px 25px rgba(67, 67, 72, 0.25);
}

.queryInput:focus,
.queryInput:focus + .radio_div,
#parentDiv {
  background-color: #e5e5e5;
  color: #434348;
}

.queryInput::placeholder {
  color: #e5e5e5;
}

.iconify {
  position: absolute;
  padding: 30px 0 0 50px;
  width: 30px;
  height: 30px;
  color: #333337;
}

.image_container {
  text-align: center;
  width: 100%;
  margin-top: 100px;
}

.poster-style {
  width: 220px;
  margin: 0 10px;
}
